.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(99, 99, 219);
}
.header>h1{
    margin-left: 10px;
}
.navbar{
    float: right;
}
.navbar a{
    color: black;
    margin-right: 10px;
    text-decoration: none;
}